<script src="/js/dist/bundle.js"></script>
<script src="/js/dist/index.js"></script>
<script src="/js/dist/jquery-1.8.3.min.js"></script>
<script src="/js/dist/jquery-ui.min.js"></script>
<script src="/js/dist/moderizr.js"></script>
<script src="/js/dist/owl.carousel.js"></script>
<script src="/js/dist/responsee.js"></script>
<script src="/js/dist/template-scripts.js"></script>
</body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<footer>

<section class="background-dark full-width">
  <!-- Map -->

  <div class="s-12 m-12 l-8 margin-m-bottom-2x">
    <div class="s-12 ">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3323.849546269743!2d-7.616325685448904!3d33.58325544974717!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda7d2bb9401aff3%3A0x5282ad53b58fe68b!2sMagica+Software!5e0!3m2!1sfr!2sma!4v1555063651750!5m2!1sfr!2sma" width="100%" height="450" frameborder="0" style="border:0"></iframe>
    </div>
  </div>
  <!-- Collumn 2 -->
  <div class="s-12 m-12 l-4 margin-m-bottom-2x">
    <div class="padding-2x">
      <br>
      <br>
      <br>
      <div class="line">
        <div class="float-left">
          <i class="icon-sli-location-pin text-primary icon3x"></i>
        </div>
        <div class="margin-left-70 margin-bottom-30">
          <h3 class="margin-bottom-0">Adresse</h3>
          <p>207, Bd. de la Resistence Casablanca
          </p>
        </div>
        <div class="float-left">
          <i class="icon-sli-envelope text-primary icon3x"></i>
        </div>
        <div class="margin-left-70 margin-bottom-30">
          <h3 class="margin-bottom-0">E-mail</h3>
          <p>contact@magicasoftware.com<br>

          </p>
        </div>
        <div class="float-left">
          <i class="icon-sli-phone text-primary icon3x"></i>
        </div>
        <div class="margin-left-70">
          <h3 class="margin-bottom-0">Tel</h3>
          <p>Tel: +212 522 43 05 78<br>
            Mobile: +212 661 07 51 54<br>
            Fax: +212 55 22 27 77 91<br> </p>

        </div>
      </div>
    </div>
  </div>
</section>

<hr class="break margin-top-bottom-0" style="border-color: rgba(0, 38, 51, 0.80);">
</footer>

</html>
