{{> tophead }}

<div class="index_header">
  <div class="right">
    <a href="/welcome">Home</a>
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
  </div>
</div>
<nav class="background-transparent background-transparent-hightlight full-width fixed">
  <div class="s-12 l-1">
    <a href="index.html" class="logo">
      <!-- Logo White Version -->
      <img class="logo-white" src="img/logo4.png" alt="">
      <!-- Logo Dark Version -->
      <img class="logo-dark" src="img/logo4.png" alt="">
    </a>
  </div>
  <div class="top-nav s-12 l-11">

    <ul class="right chevron">
      <li><a href="index.html" style="font-size: 15px;  font-family: Impact" >Accueil</a></li>
      <!--<li>
        <a href="fonctionnalite.html" style="font-size: 20px;   font-family: Impact">Cabinet</a></li>
      <li><a href="clinique.html" style="font-size: 20px;   font-family: Impact">Clinique</a></li>-->
      <li><a href="#" href="index.html" style="font-size: 15px;  font-family: Impact" >Nos Solutions</a>
        <ul style="    position: relative;left: 2em;">
          <li>
            <a href="fonctionnalite.html" style="font-size: 15px;   font-family: Impact">Cabinet</a></li>
          <li><a href="clinique.html" style="font-size: 15px;   font-family: Impact">Clinique</a></li>

        </ul>
      </li>
      <li><a href="fonctionalites.html" style="font-size: 15px;   font-family: Impact">Fonctionnalités</a></li>
      <li><a href="produits.html" style="font-size: 15px;   font-family: Impact" >Nos Produits</a></li>
      <li><a href="temoignage.html" style="font-size: 15px;  font-family: Impact">Temoignages</a></li>
      <li><a href="evenement.html" style="font-size: 15px;   font-family: Impact">Evénements </a></li>
      <li><a href="reference.html" style="font-size: 15px;   font-family: Impact">Références</a></li>
      <li><a href="videoTech.html" style="font-size: 15px;   font-family: Impact">Video Tech</a></li>
      <li><a href="documentation.html" style="font-size: 15px;   font-family: Impact">Documentation</a></li>
      <li><a href="faq.html" style="font-size: 15px;   font-family: Impact">FAQ</a></li>
      <li><a href="http://localhost:3917" style="font-size: 15px;   font-family: Impact">Forum</a></li>
      <li><a href="partage.html" style="font-size: 15px;   font-family: Impact">Partage</a></li>
      <li><a href="contact.html" style="font-size: 15px;   font-family: Impact">Contact</a></li>


    </ul>
  </div>
</nav>
