{{> tophead }}
<style>
  .responsive-map-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }

  .responsive-map-container iframe,
  .responsive-map-container object,
  .responsive-map-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>index_header
<header role="banner" class="index_header position-absolute">
  <!-- Top Navigation -->
  <nav class="background-transparent background-transparent-hightlight full-width fixed" style="padding: 25px 2em; !important;">
    <div class="s-12 l-1">
      <a href="index.html" class="logo">
        <!-- Logo White Version -->
        <img class="logo-white" src="/images/logo4.png" alt="">
        <!-- Logo Dark Version -->
        <img class="logo-dark" src="/images/logo4.png" alt="">
      </a>
    </div>
    <div class="top-nav s-12 l-11">

      <ul class="right chevron">
        <li><a href="index.html" style="font-size: 15px;  font-family: Impact" >Accueil</a></li>
        <!--<li>
          <a href="fonctionnalite.html" style="font-size: 20px;   font-family: Impact">Cabinet</a></li>
        <li><a href="clinique.html" style="font-size: 20px;   font-family: Impact">Clinique</a></li>-->
        <li><a href="#" href="index.html" style="font-size: 15px;  font-family: Impact" >Nos Solutions</a>
          <ul style="    position: relative;left: 2em;">
            <li>
              <a href="fonctionnalite.html" style="font-size: 15px;   font-family: Impact">Cabinet</a></li>
            <li><a href="clinique.html" style="font-size: 15px;   font-family: Impact">Clinique</a></li>

          </ul>
        </li>
        <li><a href="fonctionalites.html" style="font-size: 15px;   font-family: Impact">Fonctionnalités</a></li>
        <li><a href="produits.html" style="font-size: 15px;   font-family: Impact" >Nos Produits</a></li>
        <li><a href="temoignage.html" style="font-size: 15px;  font-family: Impact">Temoignages</a></li>
        <li><a href="evenement.html" style="font-size: 15px;   font-family: Impact">Evénements </a></li>
        <li><a href="reference.html" style="font-size: 15px;   font-family: Impact">Références</a></li>
        <li><a href="videoTech.html" style="font-size: 15px;   font-family: Impact">Video Tech</a></li>
        <li><a href="documentation.html" style="font-size: 15px;   font-family: Impact">Documentation</a></li>
        <li><a href="faq.html" style="font-size: 15px;   font-family: Impact">FAQ</a></li>
        <li><a href="forum.html" style="font-size: 15px;   font-family: Impact">Forum</a></li>
        <li><a href="partage.html" style="font-size: 15px;   font-family: Impact">Partage</a></li>
        <li><a href="contact.html" style="font-size: 15px;   font-family: Impact">Contact</a></li>

      </ul>
    </div>
  </nav>
</header>


<main role="main">
  <!-- Content -->
  <article>
    <header>
      <div class="carousel-default owl-carousel carousel-main carousel-nav-white background-dark text-center">
        <div class="item">
          <div class="s-12">
            <div >   <img src="img/bggg.jpg"></div>
            <div class="carousel-content">
              <div class="content-center-vertical line">
                <div class="margin-top-bottom-80">
                  <!-- Title -->
                  <h1 class="text-white margin-bottom-30 text-size-60 text-m-size-30 text-line-height-1">Logiciel médical<br> Cabinets et Cliniques</h1>
                  <div class="s-12 m-10 l-8 center"><p class="text-white text-size-14 margin-bottom-40">GestiCab est désormais disponible sur votre smartphone, ayez toujours à porté de main vos dossiers médicaux, imageries, ... </p></div>
                  <div class="line">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section background-white">

      <div class="line text-center">
        <div class="margin">



          <!--
                    <div class="s-12 m-12 l-4 margin-m-bottom"  style="height: 450px;" >
                      <div class="padding-2x background-primary" style="  float: left;
              height: 350px;">
                        <i class="icon-sli-chemistry icon3x text-white margin-bottom-30"></i>
                        <h3 class="text-thin">Optimisation et planification du bloc opératoire</h3>
                        <p class="margin-bottom-30">GestiCab offre la possibilité de planifier, optimiser et suivre l'activité du bloc opératoire.GestiCab offre la possibilité de planifier, optimiser et suivre l'activité du bloc opératoire.GestiCab offre la possibilité de planifier, optimiser et suivre l'activité du bloc opératoire.GestiCab offre la possibilité de planifier, optimiser et suivre l'activité du bloc opératoire.GestiCab offre la possibilité de planifier, optimiser et suivre l'activité du bloc opératoire.GestiCab offre la possibilité de planifier, optimiser et suivre l'activité du bloc opératoire.GestiCab offre la possibilité de planifier, optimiser et suivre l'activité du bloc opératoire.GestiCab offre la possibilité de planifier, optimiser et suivre l'activité du bloc opératoire.GestiCab offre la possibilité de planifier, optimiser et suivre l'activité du bloc opératoire. </p>
                      </div>
                    </div>-->

        </div>
      </div>
    </section>
  </article>
</main>
<!--
  <nav class=" background-transparent background-transparent-hightlight full-width fixed">
    <div class="s-12 l-1">
      <a href="index.html" class="logo">

        <img class="logo-white" src="/images/logo4.png" alt="">

      </a>
    </div>
    <div class="top-nav s-12 l-11">

      <ul class="right chevron">
        <li><a href="index.html" style="font-size: 15px;  font-family: Impact" >Accueil</a></li>
        <li>
          <a href="fonctionnalite.html" style="font-size: 13px;   font-family: Impact">Cabinet</a></li>
        <li><a href="clinique.html" style="font-size: 13px;   font-family: Impact">Clinique</a></li>
        <li><a href="#" href="index.html" style="font-size: 13px;  font-family: Impact" >Nos Solutions</a>
          <ul style="    position: relative;left: 2em;">
            <li>
              <a href="fonctionnalite.html" style="font-size: 13px;   font-family: Impact">Cabinet</a></li>
            <li><a href="clinique.html" style="font-size: 13px;   font-family: Impact">Clinique</a></li>
          </ul>
        </li>
        <li><a href="fonctionalites.html" style="font-size: 13px;   font-family: Impact">Fonctionnalités</a></li>
        <li><a href="produits.html" style="font-size: 13px;   font-family: Impact" >Nos Produits</a></li>
        <li><a href="temoignage.html" style="font-size: 13px;  font-family: Impact">Temoignages</a></li>
        <li><a href="evenement.html" style="font-size: 13px;   font-family: Impact">Evénements </a></li>
        <li><a href="reference.html" style="font-size: 13px;   font-family: Impact">Références</a></li>
        <li><a href="videoTech.html" style="font-size: 13px;   font-family: Impact">Video Tech</a></li>
        <li><a href="documentation.html" style="font-size: 13px;   font-family: Impact">Documentation</a></li>
        <li><a href="faq.html" style="font-size: 13px;   font-family: Impact">FAQ</a></li>
        <li><a href="forum.html" style="font-size: 13px;   font-family: Impact">Forum</a></li>
        <li><a href="partage.html" style="font-size: 13px;   font-family: Impact">Partage</a></li>
        <li><a href="contact.html" style="font-size: 13px;   font-family: Impact">Contact</a></li>


        <li><a href="/welcome" style="font-size: 13px;   font-family: Impact">Home</a></li>
        <li><a href="/login" style="font-size: 13px;   font-family: Impact">Login</a></li>
        <li><a href="/signup" style="font-size: 13px;   font-family: Impact">Signup</a></li>
      </ul>
    </div>
  </nav>-->
<!--
<div class="index_header">
  <div class="right">
    <a href="/welcome">Home</a>
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
  </div>
</div>
-->
