<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/" />
    <meta charset="utf-8">
    <title>{{ options.title }} • Mini Social Network</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href="/styles/dist/styles.css">


<!--    <link rel="stylesheet" href="/styles/dist/components.css">-->
    <link rel="stylesheet" href="/styles/dist/icons.css">
       <link rel="stylesheet" href="/styles/dist/responsee.css">
   <link rel="stylesheet" href="/styles/dist/owl.carousel.css">
  <link rel="stylesheet" href="/styles/dist/owl.theme.css">
   <link rel="stylesheet" href="/styles/dist/template-style.css">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <style>
      .responsive-map-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
      }

      .responsive-map-container iframe,
      .responsive-map-container object,
      .responsive-map-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    </style>
<!-- <script type="text/javascript" src="/js/dist/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/js/dist/jquery-ui.min.js"></script>-->
  </head>
  <body>

{{> needs }}
