{{> nHeader }}
<header>
  <div class="carousel-default owl-carousel carousel-main carousel-nav-white background-dark text-center" style="position: relative;
    top: -14em;
    height: 17em;">
    <div class="item">
      <div class="s-12">
        <div >   <img src="/images/bggg.jpg"> </div>
        <div class="carousel-content">
          <div class="content-center-vertical line">
            <div class="margin-top-bottom-80">

              <h1 class="text-white margin-bottom-30 text-size-60 text-m-size-30 text-line-height-1">Logiciel médical<br> Cabinets et Cliniques</h1>
              <div class="s-12 m-10 l-8 center"><p class="text-white text-size-14 margin-bottom-40">Gagner du temps, et assurer une meilleur qualite de service</p></div>
              <div class="line">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="notes_wrapper">



  <div class="register cua ">
    <div class="display_text">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br> <br>
      <br>
      <br>
      <br>
      <br>
      <br> <br>


      <div class="log_sign">
        <a href="/signup" class="pri_btn" style="position: relative; top: 200px; left: 300px;
" >Need an account?</a>
      </div>

      <span>Get started again  </span>
    </div>

    <form class="form_login">
      <input type="text" name="username" value="" class="l_username" autofocus required spellcheck="false" autocomplete='false'
        placeholder='Username'>
      <input type="password" name="password" value="" class="l_password" required placeholder='Password'>

      <input type="submit" name="" value="Login to continue" class="l_submit">
    </form>
  </div>

</div>



{{> footer }}
